PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

# Admin Authentication Credentials
ADMIN_USER_ID=admin
ADMIN_PASSWORD=mohamed@umar2026
ADMIN_SECRET_TOKEN=portfolio_umar_admin_secure_token_2026
